:root {
    --skin-bg: var(--c-purple-100);

    --skin-sad: var(--c-blue-050);
    --skin-sad-text: var(--c-grey-100);

    --skin-joy: var(--c-yellow-050);
    --skin-joy-text: var(--c-grey-100);

    --skin-anger: var(--c-red-050);
    --skin-anger-text: var(--c-grey-100);

    --skin-fear: var(--c-purple-050);
    --skin-fear-text: var(--c-grey-100);

    --skin-disgust: var(--c-green-050);
    --skin-disgust-text: var(--c-grey-100);

    --skin-neutral: var(--c-purple-090);
    --skin-neutral-text: var(--c-grey-000);

    --skin-content: var(--c-grey-100);
    --skin-content-text: var(--c-grey-005);
}
