:root {
    /* FONT*/
    --font-reg: 'Poppins', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-sz-base: clamp(1rem, 1.5vw, 1.125rem);
    --font-sz-xs: 0.75em;
    --font-sz-sm: 0.875em;
    --font-sz-md: 1em;
    --font-sz-lg: 1.125em;
    --font-sz-xl: 1.25em;
    --font-sz-2x: 1.5em;
    --font-sz-3x: 2em;
    --font-wt-b: 700;

    /* Palette */
    --c-greyscale-000: hsl(0, 0%, 0%);
    --c-greyscale-085: hsl(0, 0%, 89%);
    --c-greyscale-100: hsl(0, 0%, 100%);

    --c-bluescale-100: hsl(240, 100%, 97%);

    --c-blue-wc: hsl(210, 68%, 45%);
    --c-yellow-wc: hsl(48, 86%, 29%);
    --c-purple-wc: hsl(262, 58%, 58%);
    --c-red-wc: hsl(357, 68%, 45%);
    --c-green-wc: hsl(102, 46%, 36%);

    /* Spacing - based on periodic table of elements */
    --sp-st-h: 0.125em;
    --sp-st-he: 0.25em;
    --sp-st-be: 0.5em;
    --sp-st-c: 0.75em;
    --sp-st-o: 1em;
    --sp-st-ne: 1.25em;
    --sp-st-mg: 1.5em;
}