:root {
    /* Font - based on planets */
    --font-reg: 'Poppins', -apple-system, 'BlinkMacSystemFont', 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    --font-code: 'Red Hat Mono', 'Menlo', 'Courier', monospace;
    --font-sz-base: clamp(1rem, 1.5vw, 1.125rem);

    --font-sz-mercury: 0.625em;
    --font-sz-mars: 0.75em;
    --font-sz-venus: 0.875em;
    --font-sz-earth: 1em;
    --font-sz-neptune: 1.125em;
    --font-sz-uranus: 1.25em;
    --font-sz-saturn: 1.5em;
    --font-sz-jupiter: 2em;

    --font-wt-b: 700;

    /* Palette */
    --c-grey-000: hsl(0, 0%, 0%);
    --c-grey-005: hsl(0, 0%, 5%);
    --c-grey-085: hsl(0, 0%, 89%);
    --c-grey-100: hsl(0, 0%, 100%);

    --c-blue-040: hsl(218, 48%, 40%);
    --c-blue-050: hsl(216, 48%, 48%);

    --c-yellow-040: hsl(54, 63%, 28%);
    --c-yellow-050: hsl(52, 63%, 36%);

    --c-purple-040: hsl(280, 26%, 40%);
    --c-purple-050: hsl(282, 26%, 50%);
    --c-purple-080: hsl(265, 31%, 84%);
    --c-purple-090: hsl(260, 33%, 93%);
    --c-purple-100: hsl(292, 60%, 98%);

    --c-red-040: hsl(0, 44%, 39%);
    --c-red-050: hsl(2, 44%, 48%);

    --c-green-040: hsl(96, 44%, 27%);
    --c-green-050: hsl(94, 44%, 34%);

    /* Spacing - based on periodic table of elements */
    --sp-none: 0em;
    --sp-st-h: 0.125em;
    --sp-st-he: 0.25em;
    --sp-st-be: 0.5em;
    --sp-st-c: 0.75em;
    --sp-st-o: 1em;
    --sp-st-ne: 1.25em;
    --sp-st-mg: 1.5em;
    --sp-st-s: 2em;

    --sp-dy-he: clamp(0.25em, 0.75vw, 0.5em);
    --sp-dy-be: clamp(0.5em, 1.5vw, 1em);
    --sp-dy-c: clamp(0.75em, 2.25vw, 1.5em);
    --sp-dy-o: clamp(1em, 3vw, 2em);
    --sp-dy-mg: clamp(1.5em, 4.5vw, 3em);
    --sp-dy-s: clamp(2em, 6vw, 4em);

    --sp-ze-be: clamp(0em, calc(1.5vw - 0.75rem), 1em);
    --sp-ze-o: clamp(0em, calc(3vw - 1.5rem), 2em);

    /* Elevation - based on clouds */
    --elev-ground: none;
    --elev-stratus: drop-shadow(0 0.125rem 0.0625rem hsla(0, 0%, 0%, 30%));
    --elev-cumulus: drop-shadow(0 0.25rem 0.125rem hsla(0, 0%, 0%, 30%));
    --elev-cirrus: drop-shadow(0 0.375rem 0.25rem hsla(0, 0%, 0%, 30%));

    --elev-stratus-up: drop-shadow(0 -0.125rem 0.0625rem hsla(0, 0%, 0%, 30%));
    --elev-cumulus-up: drop-shadow(0 -0.25rem 0.125rem hsla(0, 0%, 0%, 30%));
    --elev-cirrus-up: drop-shadow(0 -0.375rem 0.25rem hsla(0, 0%, 0%, 30%));
}